/* Load Anonymous Pro font family */
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_B.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_BI.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_I.ttf);
}

/*
The color scheme is as follows:
- 10% - #00b167
- 30% - #f2f2f5
- 60% - #ffffff
*/

/* Generic elements */
* {
    -fx-background-color: #f2f2f5;
    -fx-font-family: "Anonymous Pro";
}

.button {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;

    -fx-background-color: #00b167;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;

    -fx-pref-width: 350;

    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}

.unclickableButton {
    -fx-cursor: none;
}
.unclickableButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.pane {
    -fx-alignment: center;
}

.headerPane {
    -fx-alignment: center;
}

.footerPane {
    -fx-alignment: center;
}

.borderedPane {
    -fx-alignment: center;
    -fx-border-color: #00b167;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    /* TODO: perhaps make the corners more rounded */
    -fx-background-radius: 10px;
    -fx-background-color: #f2f2f5;
}

/* Main Menu */
.menuVBox {
    -fx-alignment: center;
    -fx-spacing: 35px;
}

.storeTileButton {
    -fx-pref-height: 250;
}

/* Store */
.storeTilePane {
    -fx-orientation: horizontal;
    -fx-alignment: center;
    -fx-pref-tile-height: 300px;
    -fx-hgap: 30px;
}

.storeTileButton {
    -fx-pref-height: 250;
}

/* Task Selection */
.taskSelectionScrollPane {
    -fx-vbar-policy: always;
}

.blockSelectionHBox {
    -fx-alignment: center;
    -fx-spacing: 45px;
}


/* TODO: Scrollbars */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button,
.decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
}*/

/*.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5px;
}*/


/* TODO: Pop-ups */
/*.dialog-pane{
    -fx-border-color:black;
    -fx-border-width: 2px;
}


.dialog-pane > .button-bar > .container {
    -fx-background-color:black;
}
.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: yellow;
    -fx-text-fill:black;
    -fx-font-size: 15px;
}

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}
.dialog-pane:header .header-panel .label{
    -fx-background-color: yellow;
    -fx-background-radius:10px;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}

.dialog-pane .button{
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}
.dialog-pane .button:hover{
    -fx-background-color:white;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}*/
