/* Load Anonymous Pro font family */
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_B.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_BI.ttf);
}
@font-face {
    src: url(fonts/Anonymous-Pro/Anonymous_Pro_I.ttf);
}

/*
The color scheme is as follows:
- 10% - #00b167
- 30% - #f2f2f5
- 60% - #ffffff
*/

/* Generic elements*/
* {
    -fx-background-color: #f2f2f5;
    -fx-font-family: "Anonymous Pro";
}

.button {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;

    -fx-background-color: #00b167;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;

    -fx-pref-width: 350;

    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}

.unclickableButton {
    -fx-cursor: none;
}
.unclickableButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.pane {
    -fx-alignment: center;
}

.headerPane {
    -fx-alignment: center;
}

.footerPane {
    -fx-alignment: center;
}

/* Main Menu */
.menuVBox {
    -fx-alignment: center;
    -fx-spacing: 35px;
}

.storeTileButton {
    -fx-pref-height: 250;
}

/* Store */
.storeTilePane {
    -fx-orientation: horizontal;
    -fx-alignment: center;
    -fx-pref-tile-height: 300px;
    -fx-hgap: 30px;
}

.storeTileButton {
    -fx-pref-height: 250;
}

/* Task Selection */
.taskSelectionScrollPane {
    -fx-vbar-policy: always;
}