/*
The color scheme is as follows:
- 10% - #00b167
- 30% - #ffffff
- 60% - #f2f2f5
*/

.codeBox {
    -fx-padding: 5px 5px 5px 5px
}

.blockSelectionHBox {
    -fx-alignment: center;
    -fx-spacing: 45px;
    -fx-background-color: #f2f2f5;
}
