# Ignore all files
/*

# Except for this file
!.gitignore

# And the src and problem package directories
!src/
!defaultProblemPackages/
!problemPackageDevelopment/

# And the maven files
!pom.xml

# And the README
!README.md

# And the CI/CD config file!
!.gitlab-ci.yml

# Finally, throw out all useless IDE files and CMake replies and stuff
**/.idea/
problemPackageDevelopment/test/cmake-build-debug/
problemPackageDevelopment/test/cmake-build-debug-coverage/