# Ignore all files
/*

# Except for this file
!.gitignore

# And the src and problem package directories
!achievements/
!application/
!core/
!idlang/
!idlangblocks/
!packages/
!scenes/
!scoring/
!userdata/
!properties/
!.package-development/

# And the maven files
!pom.xml

# And the README
!README.md

# And the CI/CD config file!
!.gitlab-ci.yml

# And the setup files, without the jar.
!setup/
setup/*.jar

# Finally, throw out all useless IDE files and CMake replies and stuff and target directories
**/.idea/
**/target/
**/*.iml
