# Ignore all files
/*

# Except for this file
!.gitignore

# And the src and problem package directories
!src/
!defaultProblemPackages/

# And the maven files
!pom.xml

# And the README
!README.md

# And the CI/CD config file!
!.gitlab-ci.yml

# Finally, throw out all useless IDE files and CMake replies and stuff
**/.idea/
defaultProblemPackages/test/cmake-build-debug/.cmake/api/v1/reply
defaultProblemPackages/test/cmake-build-debug-coverage/.cmake/api/v1/reply