.menuButton {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 25px;
    -fx-font-weight: 400;

    -fx-pref-width: 350;
}

.menuVBox {
    -fx-background-color: lightgreen;
    -fx-alignment: center;
    -fx-spacing: 75;
}