.root {
    -fx-background-color: lightblue;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
}

.button {
    -fx-font-size: 15px;
}

#example_label {
    -fx-font-size: 60;
}